/* -------------태블릿---------------- */
@media screen and (max-width:1200px){
/*  공통  */
  .wrap{
/*     padding: 30px 20px !important; */
  }
  .h3T {
    font-size: calc(48px * 0.7);
  }
  .h4T {
    font-size: calc(36px * 0.7);
  }
  .h5T {
    font-size: calc(24px * 0.7);
  }
  .h6T {
    font-size: calc(16px * 0.9);
  }
}/* -----------   1200 end  ---------- */

/* -------------모바일---------------- */
@media screen and (max-width:768px){
/* common   */
  .h1T {
    font-size:calc(84px * 0.6);
  }
  .h3T {
    font-size:calc(48px * 0.6);
  }
  .h4T {
    font-size: calc(36px * 0.55);
  }
  .h6T {
    font-size: calc(16px * 0.8);
  }
/*  ham  */
  .ham{
    display: flex;
    color: white;
  }
/*  header  */
  header .notice{
    display: none;
  }
  header nav{
    padding: 0 16px;
    height: 80px;
  }
  header nav h1 a{
    width: 200px;
    background-size: 30px, 170px;
  }
  header nav > ul.member{
    display: none;
  }
  header nav > ul.gnb{
    display: none;
  }
/*  title  */
  div#title{
    min-height: auto;
  }
  div#title div.wrap{
    padding: 0;
  }
  div#title div.wrap ul.titleAni{
    border-radius: 0; 
  }
  #title .slick-prev{
    left: 25px;
  }
  #title .slick-next{
    right: 25px;
  }
  div#title ul.titleAni li.t h2{
    width: calc(480px * 0.5);
    height: calc(230px * 0.7);
  }
  div#title ul.titleAni li.t p{
    font-size: 14px;
    width: 80%;
    word-break: keep-all;
  }
  div#title ul.titleAni li.t a{
    width: calc(180px * 0.6);
    height: calc(50px * 0.6);
    font-size: 14px;
  }
  .particle-network-animation{
    display: none;
  }
}/* 768 end   */











