/* -------------태블릿---------------- */
@media screen and (max-width:1200px){
  
}
/* -----------   1200 end  ---------- */
    
/* -------------모바일---------------- */
@media screen and (max-width:768px){
  #subtitle{
    height: 84.63541666666667vw !important;
    border-radius: 0 !important;
  }
  #subtitle .wrap p{
    font-size: 3.5vw;
  }
/*  인사말  */
  #greetingin .wrap{
    grid-template-columns: 1fr;
  }
  #greetingin .wrap > *{
    grid-column: 1 !important;
    grid-row: initial !important;
  }
  #greetingin .wrap ul{
    border-radius: 30px 0 30px 0;
    margin: -25px -16px 20px;
  }
  #greetingin .wrap ul li{
    font-size: calc(16px * 0.8);
    padding: 20px 25px;
  }
  #greetingin .wrap ul li a{
    font-size: calc(16px * 0.8);
  }
  #greetingin .wrap ul li.path a::before{
    top: -8px;
  }
  #greetingin .wrap figure{
    margin: 60px auto !important;
  }
  #greetingin .wrap h3:nth-of-type(1){
    transform: initial;
    margin-bottom: 20px;
    word-break: keep-all;
  }
  #greetingin .wrap h3:nth-of-type(2){
    margin: 0 0 20px 0;
    word-break: keep-all;
  }
  #greetingin .wrap h3:nth-of-type(2) span:nth-of-type(2){
    display: inline;
  }
  #greetingin .wrap h3 span:nth-of-type(1){
    display: initial;
  }
  #greetingin .wrap p:nth-of-type(n){
    margin: 0;
    font-size: 14px;
    word-break: keep-all;
  }
  #greetingin .wrap p:nth-of-type(3) span{
    margin-top: 0;
    display: inline;
  }
/*  회원가입  */
  #membersin .wrap form div{
    flex-wrap: wrap;
    height: auto;
    text-align: left;
    border-bottom: 1px solid #ccc;
    padding-bottom: 16px; 
  }
  #membersin .wrap form div label:first-child{
    background-color: transparent;
    border-right: 0;
    line-height: 2.5 !important;
    border-bottom: 1px solid #ccc;
    width: 100%;
    display: block;
  }
  #membersin .wrap form div label + input{
    margin: 15px 0 !important;
    margin-right: 10px !important; 
  }
  #membersin .wrap form div input[type="text"]{
    margin: 0;
  }
  #membersin .wrap form div input[type="password"]{
    margin: 0;
    width: 100%;
  }
  #membersin .wrap form div p{
    margin: 0;
    line-height: 1.2;
    word-break: keep-all;
  }
  #membersin .wrap form div select{
    margin: 0;
    width: 100%;
  }
  #membersin .wrap form div span{
  line-height: 3;
  margin: 0 0 0 10px;
  }
  #membersin .wrap form .email input[type="text"]:last-of-type{
    margin: 5px 0;
  }
  #membersin .wrap form .contact select{
    margin: 5px 10px;
  }
  #membersin .wrap form .contact input[type="text"]{
    margin: 5px 10px !important;
    width: 175px;
  }
  #membersin .wrap form .address{
    display: block;
    height: auto;
  }
  #membersin .wrap form .address input[type="text"]{
    width: 60%;
  }
  #membersin .wrap form .address input[type="text"]:nth-of-type(2){
    display: block;
    width: 60%;
  }
  #membersin .wrap form .address input[type="text"]:nth-of-type(3){
    margin: 15px 0;
    width: 60%;
  }
  #membersin .wrap form .Affiliation input{
    width: 60% !important;
  }
}
/* 768 end   */